<?xml version='1.0' encoding='utf-8'?>

<!--L
   Copyright Washington University in St. Louis
   Copyright SemanticBits
   Copyright Persistent Systems
   Copyright Krishagni

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/catissue-idp-authentication-manager/LICENSE.txt for details.
L-->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

    	<property name="show_sql">false</property>
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.datasource">java:/csm</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.jdbc.batch_size">0</property>

    </session-factory>

</hibernate-configuration>